body.locked {
  height: 100vh;
  overflow-y: hidden;
}

body {
    background-color: #c7b39b;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    background-image: url('/static/entrypoint/img/backgroundlogin.png');
	background-size: cover;
    position: absolute;
}
.box{
	width: 35vw;
    padding: 30px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-0%,-0%);
    background: #2E4458;
    text-align: center;
    height: 100vh;
    font-size: 50px;
}

.box h1 {
	color: white;
	font-weight: 700;
}
.box input[type="text"], .box input[type="password"] {
    border: 0;
    background-color: white;
    display: block;
    margin: 50px auto;
    text-align: left;
    border: 3px solid #0367fd;
    padding:14px 10px;
    width:400px;
    height: 40px;
    outline: none;
    color: Black;
    border-radius: 24px;
    transition:0.25px;
    font-size: 20px;
}

.box input[type="submit"] {
	border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid white;
    padding: 14px 10 px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
    width: 400px;
    height: 90px;
    top: 679px;
    left: 250px;
    font-size: 30px;
    font-weight: 700;
}

.box input[type="submit"]:hover {
	background: lightgray;
}
