<!--<!DOCTYPE html>-->
<!--<html lan="ru" and dir="Itr"> -->
<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <title> Личный кабинет</title>-->
<!--  <link rel="stylesheet" type="text/css" href="css/stylekab.css">-->
<!--  <a href="http://yandex.ru"><img src="source/component 7.svg"></a>-->
<!--  <style>-->
<!--   body {-->
<!--    background-image: url(source/backgroundkab4.png);-->
<!--    background-size: 100%;-->
<!--    background-repeat: no-repeat; -->
<!--    background-color: #c7b39b; -->
<!--    position: absolute;-->
<!--}-->


<!--  </style>-->
<!--</head>-->
<form>
<div class="FIOID">
  <span class="ivanov">Иванов</span>
  <p>Иван Иванович</p>
  <p>id:1234567</p>
  </div>
<a href="http://yandex.ru" class="buttonkab1" target="_blank">
  Личные данные
</a>
<p><a href="http://yandex.ru" class="buttonkab2" target="_blank">
  Мои организации
</a>
</p>
</form>
<!--</body>-->
<!--</html>-->
{% extends 'entrypoint/base.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="css/stylekab.css">
  <style>
   body {
    background-image: url(img/backgroundkab4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #c7b39b;
    position: absolute;
}
   </style>
{% endblock %}

{% block maincontent %}

<div class="FIOID">
  <span class="ivanov">Иванов</span>
  <p>Иван Иванович</p>
  <p>id:1234567</p>
  </div>
<a href="http://yandex.ru" class="buttonkab1" target="_blank">
  Личные данные
</a>
<p><a href="http://yandex.ru" class="buttonkab2" target="_blank">
  Мои организации
</a>
</p>
</form>

{% endblock %}

