{% extends 'entrypoint/base.html' %}

{% block mainpart %}

    {% if user.is_authenticated %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'entrypoint/css/kab.css' %}">
    <style>
        body{
            background-image: url('/static/entrypoint/img/backgroundkab4.png');
        }
    </style>
    <div class="FIOID">
      <span class="ivanov">{{ user.full_name }}</span>
      <p>{{ user.email }}</p>
      </div>
    <a href="http://yandex.ru" class="buttonkab1" target="_blank">
      Личные данные
    </a>
    <p><a href="http://yandex.ru" class="buttonkab2" target="_blank">
      Мои организации
    </a>
    </p>
    <a href="{% url 'logout' %}"><img src="{% static 'entrypoint/img/logout.svg' %}" alt="LogOut" width="50px;" style="margin: 10px"></a>
    {% else %}
        {% load static %}
                <link rel="stylesheet", type="text/css" href="{% static 'entrypoint/css/main.css' %}">

                <style>
        body{
            background-image: url('/static/entrypoint/img/mainmenu.png');
        }
    </style>

            <body>
                <div class="shape">

                </div>

                <div class="div1">Мониторинг<br>по охране труда</div>
                <div class="parent">
                </div>
                <a href="{% url 'login' %}" class="buttonkab1">
          Войти
          <a href="{% url 'register' %}" class="buttonkab2">
          Зарегистрироваться </a>
                </a>
    {% endif %}

{% endblock %}

