{% extends 'entrypoint/base.html' %}

{% block styles %}
{% endblock %}

{% block mainpart %}
    <h1>Войти</h1>

    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    <form class="box" action="{% url 'login' %}" method="post">
          <input type="text" name="" placeholder="E-Mail" id="usermail" />
          <input type="password" name="" placeholder="Пароль" id="userpass" />
          <input
            class="button"
            type="submit"
            name=""
            value="ВОЙТИ"
            onclick="validate()"
          />
        </form>

    <!--<form action="{% url 'login' %}" method="post">-->
    <!--    {{ form }}-->
    <!--    {% csrf_token %}-->
    <!--    <button type="submit">Войти</button>-->
<!--</form>-->

{% endblock %}
