{% extends 'entrypoint/base.html' %}

{% block mainpart %}

<form class="boxreg" action="{% url 'register' %}" method="post">
	<h1>Регистрация</h1>
    {{ form.as_p }}
    {% csrf_token %}

    <div class="checkbox">
        <p><input  type="checkbox" id="Инф согл" name="" placeholder="">
            <label  for="Инф согл">Информированное согласие на участие</label></p>
        <p><input  type="checkbox" name="" placeholder="">
            <label>Ознакомление с порядком проведения мониторинга по охране труда</label></p>
    </div>

    <input class="button" type="submit" value="Зарегистрироваться">

{% endblock %}


<!--<input type="text" name="" placeholder="КПП" id="userkpp">-->
<!--<input type="text" name="" placeholder="ФИО" id="userfio">-->
<!--<input type="text" name="" placeholder="ИНН" id="userinn">-->
<!--<input type="text" name="" placeholder="Телефон" id="userphone">-->
<!--<input type="text" name="" placeholder="E-Mail" id="usermail">-->
<!--<input type="password" name="" placeholder="Пароль" id="userpass">-->




<!--<input type="text" placeholder="ФИО">-->
<!--<input type="text" placeholder="КПП">-->
<!--<input type="text" placeholder="ИНН">-->
<!--<input type="text" placeholder="Телефон">-->
<!--<input type="text" placeholder="Email">-->
<!--<input type="checkbox">Информационное согласие на участие</input>-->
<!--<input type="checkbox">Ознакомление порядком проведения мероприятия по охране труда</input>-->
<!--<a href="#">Зарегистрироваться</a>-->

